.secretkey
pvfree.sublime-project
pvfree.sublime-workspace
*.pyc
.postgre
db.sqlite3
public/static/
.project
.pydevproject
pvfree.log
assets/highlight/
fixtures/
venv/
venv3/
.idea/
*.csv
!parameters/data/sandia_modules.csv
.DS_Store
.vscode/
