gunicorn
django==1.11.16
python_dateutil
openpyxl
django_tastypie==0.14.2
nose
psycopg2
dj_database_url
lxml
defusedxml
pyyaml
numpy
pandas
pytz
matplotlib
jinja2
mpld3
pvlib
whitenoise
future
six
bokeh
