gunicorn
django==1.11.21
python_dateutil
openpyxl
django_tastypie==0.14.2
nose
psycopg2
dj_database_url
lxml
defusedxml
pyyaml
numpy==1.16.2
scipy==1.2.1
pandas==0.24.2
pytz
jinja2
pvlib==0.6.1
whitenoise
future
six
bokeh
tables
pytest-django
