bokeh==3.0.1
defusedxml==0.7.1  # django-tastypie
dj-database-url==2.2.0
Django==4.2.27
django-tastypie==0.15.1
gunicorn==23.0.0
Jinja2==3.1.6  # bokeh
lxml==5.4.0  # PyYAML, django-tastypie
numpy==1.26.4
openpyxl==3.0.3
pandas==1.5.3
psycopg2==2.9.10
pvlib==0.10.5
pytest==8.3.5
pytest-cov==6.1.0
pytest-django==4.8.0
pytz==2025.2
python-dateutil==2.9.0
PyYAML==6.0.2  # django-tastypie
scipy==1.13.1
six==1.17.0
whitenoise==6.3.0
MarkupSafe==2.0.1
tqdm==4.67.1
