<!-- begin django template variables -->
<!-- path -->
{% load staticfiles %}
<!-- end django template variables -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Public API for PV modeling">
    <meta name="author" content="Mark Mikofski">
    <link rel="icon" href="{% static "sunpower_favicon.ico" %}">

    <title>PV Free</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <style type="text/css">
      /* Body Padding required: The fixed navbar will overlay your other
       * content, unless you add padding to the top of the <body>. Try out
       * your own values or use our snippet below. Tip: By default, the
       * navbar is 50px high.
       * http://getbootstrap.com/components/#navbar-fixed-top */
      body {
        padding-top: 50px;
      }
    </style>

    {% block headers %}
    {% endblock headers %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60787448-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" title="Return to homepage" href="{% url 'home' %}">PV Free</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% url 'pvinverters' as pvinverters_path %}
            {% url 'pvmodules' as pvmodules_path %}
            {% url 'cec_modules' as cec_modules_path %}
            {% url 'pvlib' as pvlib_path %}
            <li {% if path == pvinverters_path %}class="active"{% endif %}>
              <a href={{ pvinverters_path }}>PVInverters {% if path == pvinverters_path %}<span class="sr-only">(current)</span>{% endif %}</a></li>
            <li {% if pvmodules_path in path or path == cec_modules_path %}class="active"{% endif %} class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 role="button" aria-haspopup="true" aria-expanded="false">PVModules <span class="caret"></span>
                {% if pvmodules_path in path or path == cec_modules_path %}<span class="sr-only">(current)</span>{% endif %}</a>
              <ul class="dropdown-menu">
                <li><a href={{ pvmodules_path }}>Sandia</a></li>
                <li><a href={{ cec_modules_path }}>CEC</a></li>
              </ul>
            </li>
            <li {% if path == pvlib_path %}class="active"{% endif %}>
              <a href={{ pvlib_path }}>PVLIB {% if path == pvlib_path %}<span class="sr-only">(current)</span>{% endif %}</a></li>
            <!-- include navbar dropdown snippet -->
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a target="_blank" href="/admin/">Sign in</a></li>
                <li><a type="button" data-toggle="modal" data-target="#uploadModal">Upload</a></li>
              </ul>
            </li>
          </ul>
          <!-- include navbar search form snippet -->
          <!-- include nabar right snippet -->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block content %}
    {% endblock %}

    <div class="container">
      <hr> <!-- horizontal line -->
      <footer>
        <p>&copy; BreakingBytes 2014</p>
      </footer>
    </div> <!-- /container -->

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        {% url 'file_upload' as upload_path %}
        <form enctype="multipart/form-data" method="post" action={{ upload_path }}>
          {% csrf_token %}
          <div class="form-group">
            <label for="uploadSelect">select upload</label>
            <select class="form-control" id="uploadSelect" name="uploadSelect">
              <option>CEC Inverters</option>
              <option>Sandia Modules</option>
              <option>CEC Modules</option>
            </select>
          </div>
          <div class="form-group">
            <label for="uploadFile">Upload File</label>
            <input type="file" id="uploadFile" name="uploadFile">
            <p class="help-block">Select the CSV file to upload.</p>
          </div>
          <input name="next" value="{{ path }}" type="hidden">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
        </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    {% block footers %}
    {% endblock footers %}

  </body>
</html>
