{% extends "base.html" %}

{% block headers %}
<!-- datatables.net with Bootstrap-3 theme -->
<!-- https://datatables.net/examples/styling/bootstrap.html -->
<!-- https://datatables.net/manual/styling/bootstrap -->
<!-- link rel"stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap.css">
{% endblock headers %}

{% block content %}
<div class="container">
  <h1 class="page-header">CEC Modules</h1>
  <table id="myTable" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Bifacial</th>
        <th>NOCT [&deg;C]</th>
        <th>A<sub>c</sub> [m<sup>2</sup>]</th>
        <th>Cells in Series</th>
        <th>I<sub>sc,ref</sub> [A]</th>
        <th>V<sub>oc,ref</sub> [V]</th>
        <th>I<sub>mp,ref</sub> [A]</th>
        <th>V<sub>mp,ref</sub> [V]</th>
        <th>Tech</th>
        <th>STC [W]</th>
      </tr>
    </thead>
    <!--<tbody>rendered by datatables.net</tbody>-->
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Bifacial</th>
        <th>NOCT [&deg;C]</th>
        <th>A<sub>c</sub> [m<sup>2</sup>]</th>
        <th>Cells in Series</th>
        <th>I<sub>sc,ref</sub> [A]</th>
        <th>V<sub>oc,ref</sub> [V]</th>
        <th>I<sub>mp,ref</sub> [A]</th>
        <th>V<sub>mp,ref</sub> [V]</th>
        <th>Tech</th>
        <th>STC [W]</th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}

{% block footers %}
<!-- datatables.net -->
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap.js"></script>
<script>
$(document).ready(function(){
  $('#myTable').DataTable({
    ajax: {
      url: '{% url 'cec_modules' %}',
      type: 'POST'
    },
    serverSide: true,
    processing: true,
    columns: [
      {
        data: 'Name',
        render: function(data, type, row){
          return '<a href="'+ {% url 'cec_modules' %} + row.id + '/">' + row.Name + '</a>'
        }
      },
      {data: 'Date'},
      {data: 'Bifacial'},
      {data: 'T_NOCT'},
      {data: 'A_c'},
      {data: 'N_s'},
      {data: 'I_sc_ref'},
      {data: 'V_oc_ref'},
      {data: 'I_mp_ref'},
      {data: 'V_mp_ref'},
      {data: 'Technology'},
      {data: 'STC'}
    ]
  });
});
</script>
{% endblock footers %}
