{% extends "base.html" %}
{% load static %}


{% block headers %}

<!--There are no more CSS files required. After Bokeh 1.3 there are no CSS includes that are necessary-->
<!--https://discourse.bokeh.org/t/cdn-css-files-returns-empty-list-in-bokeh-1-3-4/3894/2-->

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.1.1.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.1.1.min.js"></script>

{{ plot_script|safe }}

{% endblock headers %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div style="text-align:center">
  <div class="jumbotron">
    <div class="container">
      <h1>{{ pvinv.Name }}</h1>
      <p class="lead">Inverter efficiency vs. DC power and DC voltage.</p>
    </div><!-- /.container -->
  </div>
</div>
<!-- begin bokeh -->
<div class="container">
{{ plot_div|safe }}
</div>
<!-- end bokeh -->
<div class="container">
    <h1 style="text-align: center">CEC Inverter Parameters</h3>
    <div class="row"><div class="col-sm-3"></div><div class="col-sm-6">
    <table class="table table-hover">
      <tbody>
        {% for key, value in pvinv_dict.items %}
        <tr><td><b>{{ key }}</b></td><td>{{ value }}</td></tr>
        {% endfor %}
        <tr><td><b>SAM Version</b></td><td>{{ pvinv.get_SAM_Version_display }}</td></tr>
      </tbody>
    </table>
    </div></div><div class="col-sm-3"></div></div>
{% endblock %}
