{% extends "base.html" %}

{% block headers %}
<!-- datatables.net with Bootstrap-3 theme -->
<!--https://datatables.net/examples/styling/bootstrap.html-->
<!--https://datatables.net/manual/styling/bootstrap-->
<!-- link rel"stylesheet" href="https://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock headers %}

{% block content %}
<div class="container">
  <h1 class="page-header">PV Inverters</h1>
  {% if pvinv_set %}
  <table id="myTable" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Mfg<br /><br /></th>
        <th>Name<br /><br /></th>
        <th>Vintage<br /><br /></th>
        <th>Source<br /><br /></th>
        <th>Sandia ID</th>
        <th>Vaco<br /><br /></th>
        <th>Paco<br /><br /></th>
        <th>Vdco<br /><br /></th>
        <th>Pdco<br /><br /></th>
        <th>C0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><br /></th>
        <th>C1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><br /></th>
        <th>C2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><br /></th>
        <th>C3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /><br /></th>
        <th>Pso<br /><br /></th>
        <th>Pnt<br /><br /></th>
        <th>Vdcmax<br /><br /></th>
        <th>Idcmax<br /><br /></th>
        <th>MPPT low</th>
        <th>MPPT high</th>
        <th>Tamb low</th>
        <th>Tamb max</th>
        <th>Weight<br /><br /></th>
        <th>MPPT Channels</th>
      </tr>
    </thead>
    <tbody>
      {% for pvinv in pvinv_set %}
      <tr>
        <td>{{ pvinv.manufacturer }}</td>
        <td>{{ pvinv.name }}</td>
        <td>{{ pvinv.vintage|date:"Y" }}</td>
        <td>{{ pvinv.source }}</td>
        <td>{{ pvinv.Sandia_ID }}</td>
        <td>{{ pvinv.Vaco }}</td>
        <td>{{ pvinv.Paco }}</td>
        <td>{{ pvinv.Vdco|floatformat }}</td>
        <td>{{ pvinv.Pdco|floatformat }}</td>
        <td>{{ pvinv.C0|stringformat:"5.2E" }}</td>
        <td>{{ pvinv.C1|stringformat:"5.2E" }}</td>
        <td>{{ pvinv.C2|stringformat:"5.2E" }}</td>
        <td>{{ pvinv.C3|stringformat:"5.2E" }}</td>
        <td>{{ pvinv.Pso|floatformat }}</td>
        <td>{{ pvinv.Pnt }}</td>
        <td>{{ pvinv.Vdcmax }}</td>
        <td>{{ pvinv.Idcmax }}</td>
        <td>{{ pvinv.MPPT_low }}</td>
        <td>{{ pvinv.MPPT_hi }}</td>
        <td>{{ pvinv.Tamb_low }}</td>
        <td>{{ pvinv.Tamb_max }}</td>
        <td>{{ pvinv.weight }}</td>
        <td>{{ pvinv.numberMPPTChannels }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
     <p>No PV Inverters are available.</p>
  {% endif %}
</div>
{% endblock %}

{% block footers %}
<!-- datatables.net -->
<script src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>
{% endblock footers %}
