{% extends "base.html" %}

{% block headers %}
<!-- datatables.net with Bootstrap-3 theme -->
<!-- https://datatables.net/examples/styling/bootstrap.html -->
<!-- https://datatables.net/manual/styling/bootstrap -->
<!-- link rel"stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap.css">
{% endblock headers %}

{% block content %}
<div class="container">
  <h1 class="page-header">PV Inverters</h1>
  <table id="myTable" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Vac [V]</th>
        <th>Paco [W]</th>
        <th>Vdco [V]</th>
        <th>Pdco [W]</th>
        <th>Pso [W]</th>
        <th>Pnt [W]</th>
        <th>Vdcmax [V]</th>
        <th>Idcmax [A]</th>
        <th>MPPT low [V]</th>
        <th>MPPT high [V]</th>
        <th>CEC Date</th>
        <th>CEC Type</th>
      </tr>
    </thead>
    <!--<tbody>rendered by datatables.net</tbody>-->
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Vac [V]</th>
        <th>Paco [W]</th>
        <th>Vdco [V]</th>
        <th>Pdco [W]</th>
        <th>Pso [W]</th>
        <th>Pnt [W]</th>
        <th>Vdcmax [V]</th>
        <th>Idcmax [A]</th>
        <th>MPPT low [V]</th>
        <th>MPPT high [V]</th>
        <th>CEC Date</th>
        <th>CEC Type</th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}

{% block footers %}
<!-- datatables.net -->
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap.js"></script>
<script>
$(document).ready(function(){
  $('#myTable').DataTable({
    ajax: {
      url: '/api/v1/pvinverter/?limit=0',
      dataSrc: 'objects'
    },
    deferRender: true,
    columns: [
      {
        data: 'Name',
        render: function(data, type, row){
          return '<a href="'+ {% url 'pvinverters' %} + row.id + '/">' + row.Name + '</a>'
        }
      },
      {data: 'Vac'},
      {data: 'Paco'},
      {data: 'Vdco'},
      {data: 'Pdco'},
      {data: 'Pso'},
      {data: 'Pnt'},
      {data: 'Vdcmax'},
      {data: 'Idcmax'},
      {data: 'Mppt_low'},
      {data: 'Mppt_high'},
      {data: 'CEC_Date'},
      {data: 'CEC_Type'}
    ]
  });
});
</script>
{% endblock footers %}
