{% extends "base.html" %}

{% block headers %}
<!-- datatables.net with Bootstrap-3 theme -->
<!-- https://datatables.net/examples/styling/bootstrap.html -->
<!-- https://datatables.net/manual/styling/bootstrap -->
<!-- link rel"stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap.css">
{% endblock headers %}

{% block content %}
<div class="container">
  <h1 class="page-header">PV Modules</h1>
  <table id="myTable" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Vintage</th>
        <th>Area [m<sup>2</sup>]</th>
        <th>Material</th>
        <th>Cells in Series</th>
        <th>Parallel Strings</th>
        <th>Isco [A]</th>
        <th>Voco [V]</th>
        <th>Impo [A]</th>
        <th>Vmpo [V]</th>
        <th>&alpha;<sub>Isc</sub> [A/&deg;C]</th>
        <th>&alpha;<sub>Imp</sub> [A/&deg;C]</th>
        <th>&beta;<sub>Voco</sub> [V/&deg;C]</th>
        <th>&beta;<sub>Vmpo</sub> [V/&deg;C]</th>
      </tr>
    </thead>
    <!--<tbody>rendered by datatables.net</tbody>-->
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Vintage</th>
        <th>Area [m<sup>2</sup>]</th>
        <th>Material</th>
        <th>Cells in Series</th>
        <th>Parallel Strings</th>
        <th>Isco [A]</th>
        <th>Voco [V]</th>
        <th>Impo [A]</th>
        <th>Vmpo [V]</th>
        <th>&alpha;<sub>Isc</sub> [A/&deg;C]</th>
        <th>&alpha;<sub>Imp</sub> [A/&deg;C]</th>
        <th>&beta;<sub>Voco</sub> [V/&deg;C]</th>
        <th>&beta;<sub>Vmpo</sub> [V/&deg;C]</th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}

{% block footers %}
<!-- datatables.net -->
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function(){
    $('#myTable').DataTable({
      ajax: {
        url: '/api/v1/pvmodule/?limit=0',
        dataSrc: 'objects'
      },
      deferRender: true,
      columns: [
        {
          data: 'Name',
          render: function(data, type, row){
            return '<a href="' + "{% url 'pvmodules' %}" + row.id + '/">' + row.Name + '</a>'
          }
        },
        {data: 'Vintage'},
        {data: 'Area'},
        {data: 'Material'},
        {data: 'Cells_in_Series'},
        {data: 'Parallel_Strings'},
        {data: 'Isco'},
        {data: 'Voco'},
        {data: 'Impo'},
        {data: 'Vmpo'},
        {data: 'Aisc'},
        {data: 'Aimp'},
        {data: 'Bvoco'},
        {data: 'Bvmpo'}
      ]
    });
  });
  </script>
{% endblock footers %}
