{% extends "base.html" %}

{% block headers %}
<!-- datatables.net with Bootstrap-3 theme -->
<!-- https://datatables.net/examples/styling/bootstrap.html -->
<!-- https://datatables.net/manual/styling/bootstrap -->
<!-- link rel"stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
{% endblock headers %}

{% block content %}
<div class="container">
  <h1 class="page-header">PV Modules</h1>
  {% if pvmod_set %}
  <table id="myTable" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name<br/><br/></th>
        <th>Nameplate<br/><br/></th>
        <th>Vintage<br/><br/></th>
        <th>Area<br/><br/></th>
        <th>Material<br/><br/></th>
        <th>Cells in Series<br/><br/></th>
        <th>Parallel Strings<br/><br/></th>
        <th>fd<br/><br/></th>
        <th>Isco<br/><br/></th>
        <th>Voco<br/><br/></th>
        <th>Impo<br/><br/></th>
        <th>Vmpo<br/><br/></th>
        <th>IXO<br/><br/></th>
        <th>IXXO<br/><br/></th>
        <th>C0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>&alpha;Isc&nbsp;&nbsp;</th>
        <th>&alpha;Imp&nbsp;&nbsp;</th>
        <th>&beta;Voco</th>
        <th>m&beta;Voc</th>
        <th>&beta;Vmpo</th>
        <th>m&beta;Vmp</th>
        <th>n<br/><br/></th>
        <th>A0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>A1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>A2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>A3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>A4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>a<br/><br/></th>
        <th>b<br/><br/></th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for pvmod in pvmod_set %}
      <tr>
        <td><a href="{% url 'pvmodule_detail' pvmod.id %}">{{ pvmod.Name }}</a></td>
        <td>{{ pvmod.nameplate|floatformat }}</td>
        <td>{{ pvmod.Vintage|date:"Y" }}{% if pvmod.vintage_estimated %}E{% endif %}</td>
        <td>{{ pvmod.Area }}</td>
        <td>{{ pvmod.celltype }}</td>
        <td>{{ pvmod.Cells_in_Series }}</td>
        <td>{{ pvmod.Parallel_Strings }}</td>
        <td>{{ pvmod.FD }}</td>
        <td>{{ pvmod.Isco|floatformat }}</td>
        <td>{{ pvmod.Voco|floatformat }}</td>
        <td>{{ pvmod.Impo|floatformat }}</td>
        <td>{{ pvmod.Vmpo|floatformat }}</td>
        <td>{{ pvmod.IXO|floatformat }}</td>
        <td>{{ pvmod.IXXO|floatformat }}</td>
        <td>{{ pvmod.C0|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.C1|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.C2|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.C3|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.C4|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.C5|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.C6|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.C7|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.Aisc|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.Aimp|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.Bvoco|stringformat:"6.4F" }}</td>
        <td>{{ pvmod.Mbvoc|floatformat }}</td>
        <td>{{ pvmod.Bvmpo|stringformat:"6.4F" }}</td>
        <td>{{ pvmod.Mbvmp|floatformat }}</td>
        <td>{{ pvmod.N|floatformat }}</td>
        <td>{{ pvmod.A0|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.A1|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.A2|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.A3|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.A4|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.B0|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.B1|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.B2|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.B3|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.B4|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.B5|stringformat:"5.2E" }}</td>
        <td>{{ pvmod.A|floatformat }}</td>
        <td>{{ pvmod.B|floatformat }}</td>
        <td>{{ pvmod.Notes }}</td>
      </tr>
      {% endfor %}
    <tfoot>
      <tr>
        <th>Name<br/><br/></th>
        <th>Nameplate<br/><br/></th>
        <th>Vintage<br/><br/></th>
        <th>Area<br/><br/></th>
        <th>Material<br/><br/></th>
        <th>Cells in Series<br/><br/></th>
        <th>Parallel Strings<br/><br/></th>
        <th>fd<br/><br/></th>
        <th>Isco<br/><br/></th>
        <th>Voco<br/><br/></th>
        <th>Impo<br/><br/></th>
        <th>Vmpo<br/><br/></th>
        <th>IXO<br/><br/></th>
        <th>IXXO<br/><br/></th>
        <th>C0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>C7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>&alpha;Isc&nbsp;&nbsp;</th>
        <th>&alpha;Imp&nbsp;&nbsp;</th>
        <th>&beta;Voco</th>
        <th>m&beta;Voc</th>
        <th>&beta;Vmpo</th>
        <th>m&beta;Vmp</th>
        <th>n<br/><br/></th>
        <th>A0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>A1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>A2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>A3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>A4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>B5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/></th>
        <th>a<br/><br/></th>
        <th>b<br/><br/></th>
        <th>Notes</th>
      </tr>
    </tfoot>
    </tbody>
  </table>
  {% else %}
     <p>No PV Modules are available.</p>
  {% endif %}
</div>
{% endblock %}

{% block footers %}
<!-- datatables.net -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>
{% endblock footers %}
